<a href="https://colab.research.google.com/github/ApahSaroj/WPI/blob/main/Estimating_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/missdata.csv')
df

          Date    pH   DO    TDS  ...   Nitrate    Sulphate  Phosphate       WPI
0    01-Jan-14  8.14  8.7   84.0  ...  0.758000    6.534660    0.06211  0.249528
1    02-Jan-14  7.70  8.8  110.0  ...  0.196062    8.138620    0.00960  0.216400
2    03-Jan-14  7.60  7.5   75.0  ...  0.298875    3.855625    0.01280  0.183814
3    04-Jan-14   NaN  9.1   76.0  ...  0.299591    2.238750    0.01536  0.219282
4    05-Jan-14   NaN  7.3   84.0  ...  0.106000    5.600000    0.01000  0.165831
..         ...   ...  ...    ...  ...       ...         ...        ...       ...
482  28-Apr-15  7.60  5.6    NaN  ...  1.352000  104.480000    0.01500  0.419630
483  29-Apr-15  7.30  5.6    NaN  ...  7.074000   61.068000    0.03300  0.432996
484  30-Apr-15  5.10  5.8  290.0  ...  9.256000   89.910000    0.16300  0.326811
485  01-May-15  7.40  6.4    NaN  ...  7.110435   48.500000    0.21900  0.509970
486  02-May-15  7.60  6.9    NaN  ...  6.385000   59.940000    0.07000  0.422551

[487 rows x 16 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        487 non-null    object
 1   pH          485 non-null    float64
 2   DO          486 non-null    float64
 3   TDS         383 non-null    float64
 4   Alkalinity  487 non-null    int64
 5   EC          483 non-null    float64
 6   Na          485 non-null    float64
 7   Ca          445 non-null    float64
 8   Mg          448 non-null    float64
 9   K           433 non-null    float64
 10  F           422 non-null    float64
 11  Cl          466 non-null    float64
 12  Nitrate     485 non-null    float64
 13  Sulphate    460 non-null    float64
 14  Phosphate   395 non-null    float64
 15  WPI         400 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 61.0+ KB

In [7]:
df.isnull()

      Date     pH     DO    TDS  ...  Nitrate  Sulphate  Phosphate    WPI
0    False  False  False  False  ...    False     False      False  False
1    False  False  False  False  ...    False     False      False  False
2    False  False  False  False  ...    False     False      False  False
3    False   True  False  False  ...    False     False      False  False
4    False   True  False  False  ...    False     False      False  False
..     ...    ...    ...    ...  ...      ...       ...        ...    ...
482  False  False  False   True  ...    False     False      False  False
483  False  False  False   True  ...    False     False      False  False
484  False  False  False  False  ...    False     False      False  False
485  False  False  False   True  ...    False     False      False  False
486  False  False  False   True  ...    False     False      False  False

[487 rows x 16 columns]

In [8]:
print(df.describe())

               pH          DO         TDS  ...    Sulphate   Phosphate         WPI
count  485.000000  486.000000  383.000000  ...  460.000000  395.000000  400.000000
mean     7.809499    7.445144  115.851958  ...   14.195187    0.094645    0.296527
std      0.411056    1.105480   46.954561  ...   14.264553    0.167975    0.141283
min      5.100000    4.200000   56.000000  ...    0.792000    0.000000    0.160199
25%      7.570000    6.712500   84.000000  ...    5.347729    0.024500    0.221366
50%      7.860000    7.400000  102.000000  ...    9.109687    0.047000    0.253162
75%      8.100000    8.100000  128.500000  ...   17.160000    0.093252    0.312652
max      8.570000   13.500000  294.000000  ...  104.480000    1.765000    1.604375

[8 rows x 15 columns]

In [9]:
print(df.isnull().sum())

Date            0
pH              2
DO              1
TDS           104
Alkalinity      0
EC              4
Na              2
Ca             42
Mg             39
K              54
F              65
Cl             21
Nitrate         2
Sulphate       27
Phosphate      92
WPI            87
dtype: int64

In [10]:
print(df.head())

        Date    pH   DO    TDS  ...   Nitrate  Sulphate  Phosphate       WPI
0  01-Jan-14  8.14  8.7   84.0  ...  0.758000  6.534660    0.06211  0.249528
1  02-Jan-14  7.70  8.8  110.0  ...  0.196062  8.138620    0.00960  0.216400
2  03-Jan-14  7.60  7.5   75.0  ...  0.298875  3.855625    0.01280  0.183814
3  04-Jan-14   NaN  9.1   76.0  ...  0.299591  2.238750    0.01536  0.219282
4  05-Jan-14   NaN  7.3   84.0  ...  0.106000  5.600000    0.01000  0.165831

[5 rows x 16 columns]

In [12]:
print(df['TDS'].head(100))

0      84.0
1     110.0
2      75.0
3      76.0
4      84.0
      ...
95     88.0
96     88.0
97     98.0
98    108.0
99     92.0
Name: TDS, Length: 100, dtype: float64

In [13]:
# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("/content/drive/MyDrive/DATA/missdata.csv", na_values = missing_value_formats)


print(df['pH'].head(10))

0    8.14
1    7.70
2    7.60
3     NaN
4     NaN
5    8.40
6    7.40
7    7.90
8    8.00
9    7.40
Name: pH, dtype: float64

In [15]:
import pandas as pd

missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("/content/drive/MyDrive/DATA/missdata.csv", na_values = missing_value_formats)

def make_int(i):
    try:
        return int(i)
    except:
        return pd.np.nan

# apply make_int function to the entire series using map
df['pH'] = df['pH'].map(make_int)
print(df['pH'].head())

0    8.0
1    7.0
2    7.0
3    NaN
4    NaN
Name: pH, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  # Remove the CWD from sys.path while we load stuff.

In [17]:
# NaN values are marked True
print(df['pH'].isnull().head(10))
# NaN values are marked False 
print(df['pH'].notnull().head(10))

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: pH, dtype: bool
0     True
1     True
2     True
3    False
4    False
5     True
6     True
7     True
8     True
9     True
Name: pH, dtype: bool

In [18]:
# notnull will return False for all NaN values
null_filter = df['pH'].notnull()
# prints only those rows where null_filter is True
print(df[null_filter])

          Date   pH   DO    TDS  ...   Nitrate    Sulphate  Phosphate       WPI
0    01-Jan-14  8.0  8.7   84.0  ...  0.758000    6.534660    0.06211  0.249528
1    02-Jan-14  7.0  8.8  110.0  ...  0.196062    8.138620    0.00960  0.216400
2    03-Jan-14  7.0  7.5   75.0  ...  0.298875    3.855625    0.01280  0.183814
5    06-Jan-14  8.0  7.4  103.0  ...  0.506000   12.810000    0.10600  0.308627
6    07-Jan-14  7.0  NaN    NaN  ...  0.314000   20.521000    0.24300  0.406891
..         ...  ...  ...    ...  ...       ...         ...        ...       ...
482  28-Apr-15  7.0  5.6    NaN  ...  1.352000  104.480000    0.01500  0.419630
483  29-Apr-15  7.0  5.6    NaN  ...  7.074000   61.068000    0.03300  0.432996
484  30-Apr-15  5.0  5.8  290.0  ...  9.256000   89.910000    0.16300  0.326811
485  01-May-15  7.0  6.4    NaN  ...  7.110435   48.500000    0.21900  0.509970
486  02-May-15  7.0  6.9    NaN  ...  6.385000   59.940000    0.07000  0.422551

[485 rows x 16 columns]

In [20]:
print(df.isnull().values.any())

True

In [21]:
print(df.isnull().sum())

Date            0
pH              2
DO              1
TDS           104
Alkalinity      0
EC              4
Na              2
Ca             42
Mg             39
K              54
F              65
Cl             21
Nitrate         2
Sulphate       27
Phosphate      92
WPI            87
dtype: int64

Imputing Missing Values in our Dataset

replace missing values with 0

In [23]:
df['pH'].fillna(0, inplace=True)
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    0.0
4    0.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [24]:
df.fillna(0, inplace=True)
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  0.0  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  0.0  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  0.0    0.0  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000    0.00000  0.237340

[10 rows x 16 columns]

Replacing NaNs with the value from the previous row or the next row

In [37]:
import numpy as np
df = df.replace(0, np.nan)
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  NaN  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  NaN  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  NaN    NaN  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000        NaN  0.237340

[10 rows x 16 columns]

In [38]:
df['pH'].fillna(method='pad', inplace=True)
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    7.0
4    7.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [39]:
df['pH'].fillna(method='bfill', inplace=True)
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    7.0
4    7.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [40]:
df.fillna(method='pad', inplace=True)
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  7.0  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  7.0  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  7.4  103.0  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000    0.01400  0.237340

[10 rows x 16 columns]

In [41]:
df.fillna(method='bfill', inplace=True)
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  7.0  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  7.0  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  7.4  103.0  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000    0.01400  0.237340

[10 rows x 16 columns]

Replacing NaNs using Median/Mean of the column

In [42]:
# using median
df['pH'].fillna(df['pH'].median(), inplace=True)
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    7.0
4    7.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [43]:
#using mean
df['pH'].fillna(int(df['pH'].mean()), inplace=True)
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    7.0
4    7.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [46]:
df.isnull().values.any()

False

In [47]:
df.isnull().sum().sum()

0

In [48]:
# using median
df.fillna(df.median(), inplace=True)
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  7.0  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  7.0  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  7.4  103.0  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000    0.01400  0.237340

[10 rows x 16 columns]

Using the interpolate method

In [50]:
df['pH'].interpolate(method='linear', direction = 'forward', inplace=True) 
print(df['pH'].head(10))

0    8.0
1    7.0
2    7.0
3    7.0
4    7.0
5    8.0
6    7.0
7    7.0
8    8.0
9    7.0
Name: pH, dtype: float64

In [51]:
df.interpolate(method='linear', direction = 'forward', inplace=True) 
print(df.head(10))

        Date   pH   DO    TDS  ...   Nitrate   Sulphate  Phosphate       WPI
0  01-Jan-14  8.0  8.7   84.0  ...  0.758000   6.534660    0.06211  0.249528
1  02-Jan-14  7.0  8.8  110.0  ...  0.196062   8.138620    0.00960  0.216400
2  03-Jan-14  7.0  7.5   75.0  ...  0.298875   3.855625    0.01280  0.183814
3  04-Jan-14  7.0  9.1   76.0  ...  0.299591   2.238750    0.01536  0.219282
4  05-Jan-14  7.0  7.3   84.0  ...  0.106000   5.600000    0.01000  0.165831
5  06-Jan-14  8.0  7.4  103.0  ...  0.506000  12.810000    0.10600  0.308627
6  07-Jan-14  7.0  7.4  103.0  ...  0.314000  20.521000    0.24300  0.406891
7  08-Jan-14  7.0  6.8   94.0  ...  1.423000   8.830000    0.04500  0.291804
8  09-Jan-14  8.0  8.0  106.0  ...  0.157806   7.400000    0.01400  0.219930
9  10-Jan-14  7.0  5.9  117.0  ...  0.059000   7.711000    0.01400  0.237340

[10 rows x 16 columns]

In [54]:
from google.colab import files

# e.g. save pandas output as csv
df.to_csv('inter.csv')

# or any other file as usual
# with open('example.csv', 'w') as f:
#   f.write('your strings here')

files.download('inter.csv')

Imputing the Time-Series

In [55]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Import a scoring metric to compare methods
from sklearn.metrics import r2_score
%matplotlib inline