<a href="https://colab.research.google.com/github/ApahSaroj/WPI/blob/main/WPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('/content/drive/MyDrive/DATA/Test Data.xlsx')

In [5]:
df.head()

     pH  Temp   DO    TDS  ALKALINITY  ...      F    Cl       NO3       SO4      PO4
0  8.14  25.0  8.7   84.0        52.0  ...  0.285   7.8  0.758000  6.534660  0.06211
1  7.70  25.0  8.8  110.0        76.0  ...  0.401  14.8  0.196062  8.138620  0.00960
2  7.60  29.0  7.5   75.0        44.0  ...  0.379  14.8  0.298875  3.855625  0.01280
3  8.20  26.0  9.1   76.0        56.0  ...  0.396   9.6  0.299590  2.238750  0.01536
4  7.31  34.0  7.3   84.0        52.0  ...  0.265   8.3  0.106000  5.600000  0.01000

[5 rows x 15 columns]

In [6]:
df.shape

(487, 15)

In [7]:
df.columns = ['pH', 'Temp', 'DO','TDS','Alkalinity','EC','Na','Ca','Mg','K','F','Cl','Nitrate','Sulphate','Phosphate']
df

       pH  Temp   DO    TDS  ...     Cl   Nitrate    Sulphate  Phosphate
0    8.14  25.0  8.7   84.0  ...   7.80  0.758000    6.534660    0.06211
1    7.70  25.0  8.8  110.0  ...  14.80  0.196062    8.138620    0.00960
2    7.60  29.0  7.5   75.0  ...  14.80  0.298875    3.855625    0.01280
3    8.20  26.0  9.1   76.0  ...   9.60  0.299590    2.238750    0.01536
4    7.31  34.0  7.3   84.0  ...   8.30  0.106000    5.600000    0.01000
..    ...   ...  ...    ...  ...    ...       ...         ...        ...
482  7.60  28.0  5.6  224.0  ...  23.04  1.352000  104.480000    0.01500
483  7.30  26.0  5.6  266.0  ...  30.86  7.074000   61.068000    0.03300
484  5.10  27.0  5.8  290.0  ...  60.13  9.256000   89.910000    0.16300
485  7.40  27.0  6.4  230.0  ...  32.92  7.110435   48.500000    0.21900
486  7.60  25.0  6.9  243.0  ...  34.89  6.385000   59.940000    0.07000

[487 rows x 15 columns]

Water pollution index – A new integrated approach to rank water quality;
Mobarok Hossain⁎, Pulak Kumar Patra

In the first step the pollution load (PLi) of ith parameter was calculated
using the following formula:

(PLi)= 1+ ((Ci-Si)/Si)

where, Ci indicates observed concentration of ith parameter, Si is the
standard or highest permissible limit for the respective parameter.
Here, the difference between Ci and Si is divided by the respective Si for
recognizing the decreased or increased in the standardized value (PLi)
of a particular parameter pertaining to its standard permissible limit
(Si). In case of pH, a value of 7 is considered as nutral, but < 7 or > 7
are detrimental. With this view following equations are recommended
for different pH ranges.

If, the pH is < 7, then equation is recommended. Where, Sia is
minimum acceptable pH value i.e., 6.5

PLi=(Ci-7)/(Sia-7)

If, pH is > 7, then Sib would be maximum acceptable pH value i.e.,
8.5 and the suggested equation is mentioned below

PLi=(Ci-7)/(Sib-7)

Ultimately, the pollution status of a sample or water pollution index
(WPI) with n number of variables (parameters) can be evaluated
through aggregating all the pollution load and finally dividing with n,
as mentioned in the following formula. In rare cases if measured
concentration of a parameter is 0, that should be excluded from
total n for that sample.

WPI = (1/n) $\sum \limits _{i=1} ^{n} PLi $

In [8]:
df.head()

     pH  Temp   DO    TDS  ...    Cl   Nitrate  Sulphate  Phosphate
0  8.14  25.0  8.7   84.0  ...   7.8  0.758000  6.534660    0.06211
1  7.70  25.0  8.8  110.0  ...  14.8  0.196062  8.138620    0.00960
2  7.60  29.0  7.5   75.0  ...  14.8  0.298875  3.855625    0.01280
3  8.20  26.0  9.1   76.0  ...   9.6  0.299590  2.238750    0.01536
4  7.31  34.0  7.3   84.0  ...   8.3  0.106000  5.600000    0.01000

[5 rows x 15 columns]

In [9]:
def func(a,b):
    pli=((a-7)/(b-7))
    return pli

In [10]:
pH =func(df.pH,8.5)
df['PL_pH']= pH

In [11]:
def func(c,d):
    pli=((c-14.6)/(d-14.6))
    return pli

In [12]:
DO= func(df.DO,5)
df['PL_DO']= DO

In [13]:
def func(c,s):
    pli=1+((c-s)/s)
    return pli

In [14]:
TDS=func(df.TDS,500)
df['PL_TDS']=TDS

In [21]:
Alkalinity=func(df.Alkalinity,200)
df['PL_Alk']=Alkalinity

EC=func(df.EC,800)
df['PL_EC']= EC

Na=func(df.Na,200)
df['PL_Na']= Na

Ca=func(df.Ca,75)
df['PL_Ca']= Ca

K=func(df.K,200)
df['PL_K']= K

F=func(df.F,1.5)
df['PL_F']= F

Cl=func(df.Cl,250)
df['PL_Cl']= Cl

Nitrate=func(df.Nitrate,45)
df['PL_Nit']= Nitrate

Sulphate=func(df.Sulphate,250)
df['PL_Sul']= Sulphate

Phosphate =func(df.Phosphate,0.1)
df['PL_Pho']= Phosphate

In [22]:
df.head()

     pH  Temp   DO    TDS  ...    PL_Sul    PL_Pho     PL_K   PL_Cl
0  8.14  25.0  8.7   84.0  ...  0.026139  0.621105  0.00585  0.0312
1  7.70  25.0  8.8  110.0  ...  0.032554  0.096000  0.01730  0.0592
2  7.60  29.0  7.5   75.0  ...  0.015423  0.128000  0.01400  0.0592
3  8.20  26.0  9.1   76.0  ...  0.008955  0.153600  0.00825  0.0384
4  7.31  34.0  7.3   84.0  ...  0.022400  0.100000  0.00805  0.0332

[5 rows x 29 columns]

In [23]:
df.shape

(487, 29)

In [24]:
z=df.iloc[:,15:]
z.head()

      PL_pH     PL_DO  PL_TDS  PL_Alk  ...    PL_Sul    PL_Pho     PL_K   PL_Cl
0  0.760000  0.614583   0.168    0.26  ...  0.026139  0.621105  0.00585  0.0312
1  0.466667  0.604167   0.220    0.38  ...  0.032554  0.096000  0.01730  0.0592
2  0.400000  0.739583   0.150    0.22  ...  0.015423  0.128000  0.01400  0.0592
3  0.800000  0.572917   0.152    0.28  ...  0.008955  0.153600  0.00825  0.0384
4  0.206667  0.760417   0.168    0.26  ...  0.022400  0.100000  0.00805  0.0332

[5 rows x 14 columns]

In [25]:
tot=z.sum(axis=1)
tot.head()

0    3.493388
1    3.029595
2    2.573398
3    3.069946
4    2.321639
dtype: float64

In [27]:
wpi=tot/14

In [28]:
z['final index_WPI']=wpi
z.head()

      PL_pH     PL_DO  PL_TDS  ...     PL_K   PL_Cl  final index_WPI
0  0.760000  0.614583   0.168  ...  0.00585  0.0312         0.249528
1  0.466667  0.604167   0.220  ...  0.01730  0.0592         0.216400
2  0.400000  0.739583   0.150  ...  0.01400  0.0592         0.183814
3  0.800000  0.572917   0.152  ...  0.00825  0.0384         0.219282
4  0.206667  0.760417   0.168  ...  0.00805  0.0332         0.165831

[5 rows x 15 columns]

In [31]:
df['WPI']=wpi
df.head()

     pH  Temp   DO    TDS  ...    PL_Pho     PL_K   PL_Cl       WPI
0  8.14  25.0  8.7   84.0  ...  0.621105  0.00585  0.0312  0.249528
1  7.70  25.0  8.8  110.0  ...  0.096000  0.01730  0.0592  0.216400
2  7.60  29.0  7.5   75.0  ...  0.128000  0.01400  0.0592  0.183814
3  8.20  26.0  9.1   76.0  ...  0.153600  0.00825  0.0384  0.219282
4  7.31  34.0  7.3   84.0  ...  0.100000  0.00805  0.0332  0.165831

[5 rows x 30 columns]

WPI suggested four categories of water quality: WPI < 0.5 signifies an excellent quality,
0.5 > WPI < 0.75 indicates good quality, 0.75 > WPI < 1 is moderately polluted water, whereas if
WPI > 1, indicates highly polluted water.

In [33]:
def quality_check(num):
    s= ''
    if num >=0 and num <=0.5 :
        s='Excellent'
    elif num >=0.5 and num <=0.75:
        s= 'Good'
    elif num >=0.75 and num <=1:
        s='moderately polluted water'
    elif num > 1:
        s='highly polluted water'
    return s

In [34]:
df['WQC']=df['WPI'].apply(quality_check)

In [35]:
df

       pH  Temp   DO    TDS  ...     PL_K    PL_Cl       WPI        WQC
0    8.14  25.0  8.7   84.0  ...  0.00585  0.03120  0.249528  Excellent
1    7.70  25.0  8.8  110.0  ...  0.01730  0.05920  0.216400  Excellent
2    7.60  29.0  7.5   75.0  ...  0.01400  0.05920  0.183814  Excellent
3    8.20  26.0  9.1   76.0  ...  0.00825  0.03840  0.219282  Excellent
4    7.31  34.0  7.3   84.0  ...  0.00805  0.03320  0.165831  Excellent
..    ...   ...  ...    ...  ...      ...      ...       ...        ...
482  7.60  28.0  5.6  224.0  ...  0.03800  0.09216  0.419630  Excellent
483  7.30  26.0  5.6  266.0  ...  0.04945  0.12344  0.432996  Excellent
484  5.10  27.0  5.8  290.0  ...  0.07400  0.24052  0.326811  Excellent
485  7.40  27.0  6.4  230.0  ...  0.05175  0.13168  0.509970       Good
486  7.60  25.0  6.9  243.0  ...  0.04960  0.13956  0.422551  Excellent

[487 rows x 31 columns]

In [39]:
df.head()

     pH  Temp   DO    TDS  ...     PL_K   PL_Cl       WPI        WQC
0  8.14  25.0  8.7   84.0  ...  0.00585  0.0312  0.249528  Excellent
1  7.70  25.0  8.8  110.0  ...  0.01730  0.0592  0.216400  Excellent
2  7.60  29.0  7.5   75.0  ...  0.01400  0.0592  0.183814  Excellent
3  8.20  26.0  9.1   76.0  ...  0.00825  0.0384  0.219282  Excellent
4  7.31  34.0  7.3   84.0  ...  0.00805  0.0332  0.165831  Excellent

[5 rows x 31 columns]

In [44]:
df.drop(["Temp","PL_pH","PL_DO","PL_TDS","PL_Alk","PL_EC","PL_Na","PL_Ca","PL_Mg","PL_F","PL_Nit","PL_Sul","PL_Pho","PL_K","PL_Cl"], inplace=True, axis=1)

In [45]:
df

       pH   DO    TDS  Alkalinity  ...    Sulphate  Phosphate       WPI        WQC
0    8.14  8.7   84.0        52.0  ...    6.534660    0.06211  0.249528  Excellent
1    7.70  8.8  110.0        76.0  ...    8.138620    0.00960  0.216400  Excellent
2    7.60  7.5   75.0        44.0  ...    3.855625    0.01280  0.183814  Excellent
3    8.20  9.1   76.0        56.0  ...    2.238750    0.01536  0.219282  Excellent
4    7.31  7.3   84.0        52.0  ...    5.600000    0.01000  0.165831  Excellent
..    ...  ...    ...         ...  ...         ...        ...       ...        ...
482  7.60  5.6  224.0         8.0  ...  104.480000    0.01500  0.419630  Excellent
483  7.30  5.6  266.0        96.0  ...   61.068000    0.03300  0.432996  Excellent
484  5.10  5.8  290.0        12.0  ...   89.910000    0.16300  0.326811  Excellent
485  7.40  6.4  230.0        72.0  ...   48.500000    0.21900  0.509970       Good
486  7.60  6.9  243.0        68.0  ...   59.940000    0.07000  0.422551  Excellent

[487 rows x 16 columns]

In [47]:
df.to_excel('WQC.xlsx')